# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
data-loader-myAPI.py
# -------------------------------
# Virtual Environments
# -------------------------------
venv/
.env/
.env.*

# -------------------------------
# Jupyter Notebooks
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# ML Models & Artifacts
# -------------------------------
models/*.h5
models/*.keras
models/*.pt
models/*.pth

# -------------------------------
# Dataset (Large Files)
# -------------------------------
data/raw/
data/processed/

# -------------------------------
# Logs & Cache
# -------------------------------
*.log
.cache/
tmp/

# -------------------------------
# Streamlit
# -------------------------------
.streamlit/

# -------------------------------
# OS Files
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# API Keys & Secrets
# -------------------------------
*.key
*.pem
secrets/
config.yaml
